doctype html
html
  head
    title Battle Royale!
    script(src='public/dist/bundle.js')
    link(rel='stylesheet', type='text/css', href='public/css/index.css')
  body
    #gameContainer
      canvas#gameCanvas